include README.md
include AUTHORS.rst
include LICENSE

recursive-include tests *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include requirements.txt
include requirements-dev.txt
